#homelayout{
  background-color: rgb(236, 236, 236);
  border: 5px solid rgb(68, 68, 68);
}

#displayCard{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  text-align: center;
}

#testImages{
  width: 60%;
}

#cardSet{
  width: 25%;
}

#cardSet1{
  width: 20%;
}

#cardText{
  text-align: center;
  font-size: 10px;
 
}

#cardText1{
  text-align: center;
  font-size: 12px;
}

/* 
#brandLogos{

} */